
@{
    ViewBag.Title = "NoLogged";
}

<h2>Please Login  or create an user to have access to this content !</h2>

@Html.ActionLink("Register as a new user", "Register") or 
@Html.ActionLink("Login", "LogIn")



